---
import ComponentsFields from '../helpers/interfaces/ComponentsFields.astro';

interface Props {
  page: {
    title: string;
    content: any;
  };
}

const { page } = Astro.props;
const { content } = page;

---

<div class="page-content">  
  <ComponentsFields content={content} />
</div>