@mixin use-font($name) {
  font-family: var(--font-style-#{$name}-font-family);
  font-size: var(--font-style-#{$name}-font-size);
  font-weight: var(--font-style-#{$name}-font-weight);
  line-height: var(--font-style-#{$name}-line-height);
  letter-spacing: var(--font-style-#{$name}-letter-spacing);
  text-transform: var(--font-style-#{$name}-text-transform);
}

@mixin sm {
  @media (min-width: 0px) {
    @content;
  }
}

@mixin md {
  @media (min-width: var(--breakpoint-md, 610px)) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1190px) {
    @content;
  }
}
