@mixin use-font($name) {
  font-family: var(--font-style-#{$name}-font-family);
  font-size: var(--font-style-#{$name}-font-size);
  font-weight: var(--font-style-#{$name}-font-weight);
  line-height: var(--font-style-#{$name}-line-height);
  letter-spacing: var(--font-style-#{$name}-letter-spacing);
  text-transform: var(--font-style-#{$name}-text-transform);
}

$breakpoint-md: 610px;
$breakpoint-lg: 1190px;

@mixin sm {
  @media (min-width: 0px) and (max-width: #{$breakpoint-md - 1px}) {
    @content;
  }
}

@mixin md {
  @media (min-width: $breakpoint-md) and (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}
