.js-transition-svg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.js-transition-path {
  d: path("M -1 101 V 101 Q 50 101 101 101 V 101 z");
  fill: var(--color-blue-default);
}

@keyframes morph-in {
  0%    { d: path("M -1 101 V 101 Q 50 101 101 101 V 101 z"); opacity: 0; }
  50%   { d: path("M -1 101 V 50  Q 50 -1  101 50  V 101 z"); opacity: 1; }
  100%   { d: path("M -1 101 V -1  Q 50 -1  101 -1  V 101 z"); opacity: 1;}
}

@keyframes morph-out {
  0%   { d: path("M -1 101 V -1  Q 50 -1  101 -1  V 101 z"); opacity: 1; }
  50%   { d: path("M -1 101 V 50  Q 50 -1  101 50  V 101 z"); opacity: 1; }
  100%  { d: path("M -1 101 V 101 Q 50 101 101 101 V 101 z"); opacity: 0; }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}