custom-column {
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  min-width: 0;
}

/* Small breakpoint (< 610px) - Set --w for all sm columns */
custom-column[sm="1"],
custom-column[sm="2"],
custom-column[sm="3"],
custom-column[sm="4"],
custom-column[sm-push="1"],
custom-column[sm-push="2"],
custom-column[sm-push="3"],
custom-column[sm-push="4"] {
  --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
}

/* Small breakpoint - Set width */
custom-column[sm="1"] {
  width: calc(var(--w) * 1 + var(--grid-gutter) * (1 - 1));
}

custom-column[sm="2"] {
  width: calc(var(--w) * 2 + var(--grid-gutter) * (2 - 1));
}

custom-column[sm="3"] {
  width: calc(var(--w) * 3 + var(--grid-gutter) * (3 - 1));
}

custom-column[sm="4"] {
  width: calc(var(--w) * 4 + var(--grid-gutter) * (4 - 1));
}

/* Small breakpoint - Set push */
custom-column[sm-push="1"] {
  margin-left: calc(var(--w) * 1 + var(--grid-gutter) * 1);
}

custom-column[sm-push="2"] {
  margin-left: calc(var(--w) * 2 + var(--grid-gutter) * 2);
}

custom-column[sm-push="3"] {
  margin-left: calc(var(--w) * 3 + var(--grid-gutter) * 3);
}

custom-column[sm-push="4"] {
  margin-left: calc(var(--w) * 4 + var(--grid-gutter) * 4);
}

/* Medium breakpoint (610px - 1190px) - Set --w for all md columns */
@media (min-width: 610px) and (max-width: 1190px) {
  custom-column[md="1"],
  custom-column[md="2"],
  custom-column[md="3"],
  custom-column[md="4"],
  custom-column[md="5"],
  custom-column[md="6"],
  custom-column[md="7"],
  custom-column[md="8"],
  custom-column[md-push="1"],
  custom-column[md-push="2"],
  custom-column[md-push="3"],
  custom-column[md-push="4"],
  custom-column[md-push="5"],
  custom-column[md-push="6"],
  custom-column[md-push="7"],
  custom-column[md-push="8"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
  }
}

/* Medium breakpoint - Set width */
@media (min-width: 610px) and (max-width: 1190px) {
  custom-column[md="1"] {
    width: calc(var(--w) * 1 + var(--grid-gutter) * (1 - 1));
  }

  custom-column[md="2"] {
    width: calc(var(--w) * 2 + var(--grid-gutter) * (2 - 1));
  }

  custom-column[md="3"] {
    width: calc(var(--w) * 3 + var(--grid-gutter) * (3 - 1));
  }

  custom-column[md="4"] {
    width: calc(var(--w) * 4 + var(--grid-gutter) * (4 - 1));
  }

  custom-column[md="5"] {
    width: calc(var(--w) * 5 + var(--grid-gutter) * (5 - 1));
  }

  custom-column[md="6"] {
    width: calc(var(--w) * 6 + var(--grid-gutter) * (6 - 1));
  }

  custom-column[md="7"] {
    width: calc(var(--w) * 7 + var(--grid-gutter) * (7 - 1));
  }

  custom-column[md="8"] {
    width: calc(var(--w) * 8 + var(--grid-gutter) * (8 - 1));
  }

  /* Medium breakpoint - Set push */
  custom-column[md-push="1"] {
    margin-left: calc(var(--w) * 1 + var(--grid-gutter) * 1);
  }

  custom-column[md-push="2"] {
    margin-left: calc(var(--w) * 2 + var(--grid-gutter) * 2);
  }

  custom-column[md-push="3"] {
    margin-left: calc(var(--w) * 3 + var(--grid-gutter) * 3);
  }

  custom-column[md-push="4"] {
    margin-left: calc(var(--w) * 4 + var(--grid-gutter) * 4);
  }

  custom-column[md-push="5"] {
    margin-left: calc(var(--w) * 5 + var(--grid-gutter) * 5);
  }

  custom-column[md-push="6"] {
    margin-left: calc(var(--w) * 6 + var(--grid-gutter) * 6);
  }

  custom-column[md-push="7"] {
    margin-left: calc(var(--w) * 7 + var(--grid-gutter) * 7);
  }

  custom-column[md-push="8"] {
    margin-left: calc(var(--w) * 8 + var(--grid-gutter) * 8);
  }
}

/* Large breakpoint (>= 1191px) - Set --w for all lg columns */
@media (min-width: 1191px) {
  custom-column[lg="1"],
  custom-column[lg="2"],
  custom-column[lg="3"],
  custom-column[lg="4"],
  custom-column[lg="5"],
  custom-column[lg="6"],
  custom-column[lg="7"],
  custom-column[lg="8"],
  custom-column[lg="9"],
  custom-column[lg="10"],
  custom-column[lg="11"],
  custom-column[lg="12"],
  custom-column[lg-push="1"],
  custom-column[lg-push="2"],
  custom-column[lg-push="3"],
  custom-column[lg-push="4"],
  custom-column[lg-push="5"],
  custom-column[lg-push="6"],
  custom-column[lg-push="7"],
  custom-column[lg-push="8"],
  custom-column[lg-push="9"],
  custom-column[lg-push="10"],
  custom-column[lg-push="11"],
  custom-column[lg-push="12"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
  }
}

/* Large breakpoint - Set width */
@media (min-width: 1191px) {
  custom-column[lg="1"] {
    width: calc(var(--w) * 1 + var(--grid-gutter) * (1 - 1));
  }

  custom-column[lg="2"] {
    width: calc(var(--w) * 2 + var(--grid-gutter) * (2 - 1));
  }

  custom-column[lg="3"] {
    width: calc(var(--w) * 3 + var(--grid-gutter) * (3 - 1));
  }

  custom-column[lg="4"] {
    width: calc(var(--w) * 4 + var(--grid-gutter) * (4 - 1));
  }

  custom-column[lg="5"] {
    width: calc(var(--w) * 5 + var(--grid-gutter) * (5 - 1));
  }

  custom-column[lg="6"] {
    width: calc(var(--w) * 6 + var(--grid-gutter) * (6 - 1));
  }

  custom-column[lg="7"] {
    width: calc(var(--w) * 7 + var(--grid-gutter) * (7 - 1));
  }

  custom-column[lg="8"] {
    width: calc(var(--w) * 8 + var(--grid-gutter) * (8 - 1));
  }

  custom-column[lg="9"] {
    width: calc(var(--w) * 9 + var(--grid-gutter) * (9 - 1));
  }

  custom-column[lg="10"] {
    width: calc(var(--w) * 10 + var(--grid-gutter) * (10 - 1));
  }

  custom-column[lg="11"] {
    width: calc(var(--w) * 11 + var(--grid-gutter) * (11 - 1));
  }

  custom-column[lg="12"] {
    width: calc(var(--w) * 12 + var(--grid-gutter) * (12 - 1));
  }

  /* Large breakpoint - Set push */
  custom-column[lg-push="1"] {
    margin-left: calc(var(--w) * 1 + var(--grid-gutter) * 1);
  }

  custom-column[lg-push="2"] {
    margin-left: calc(var(--w) * 2 + var(--grid-gutter) * 2);
  }

  custom-column[lg-push="3"] {
    margin-left: calc(var(--w) * 3 + var(--grid-gutter) * 3);
  }

  custom-column[lg-push="4"] {
    margin-left: calc(var(--w) * 4 + var(--grid-gutter) * 4);
  }

  custom-column[lg-push="5"] {
    margin-left: calc(var(--w) * 5 + var(--grid-gutter) * 5);
  }

  custom-column[lg-push="6"] {
    margin-left: calc(var(--w) * 6 + var(--grid-gutter) * 6);
  }

  custom-column[lg-push="7"] {
    margin-left: calc(var(--w) * 7 + var(--grid-gutter) * 7);
  }

  custom-column[lg-push="8"] {
    margin-left: calc(var(--w) * 8 + var(--grid-gutter) * 8);
  }

  custom-column[lg-push="9"] {
    margin-left: calc(var(--w) * 9 + var(--grid-gutter) * 9);
  }

  custom-column[lg-push="10"] {
    margin-left: calc(var(--w) * 10 + var(--grid-gutter) * 10);
  }

  custom-column[lg-push="11"] {
    margin-left: calc(var(--w) * 11 + var(--grid-gutter) * 11);
  }

  custom-column[lg-push="12"] {
    margin-left: calc(var(--w) * 12 + var(--grid-gutter) * 12);
  }
}
