custom-column {
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  min-width: 0;
}

/* Default: full width on small screens */
custom-column:not([data-sm]):not([data-md]):not([data-lg]) {
  width: 100%;
}

/* Small breakpoint (default, applies up to md breakpoint) */
custom-column[data-sm] {
  --w: calc((var(--container-inner-width) - var(--current-gap) * (var(--current-columns) - 1)) / var(--current-columns));
  width: calc(var(--w) * var(--col-span, 1) + var(--current-gap) * (var(--col-span, 1) - 1));
  max-width: calc(var(--w) * var(--col-span, 1) + var(--current-gap) * (var(--col-span, 1) - 1));
}

custom-column[data-sm="1"] { --col-span: 1; }
custom-column[data-sm="2"] { --col-span: 2; }
custom-column[data-sm="3"] { --col-span: 3; }
custom-column[data-sm="4"] { --col-span: 4; }
custom-column[data-sm="5"] { --col-span: 5; }
custom-column[data-sm="6"] { --col-span: 6; }
custom-column[data-sm="7"] { --col-span: 7; }
custom-column[data-sm="8"] { --col-span: 8; }
custom-column[data-sm="9"] { --col-span: 9; }
custom-column[data-sm="10"] { --col-span: 10; }
custom-column[data-sm="11"] { --col-span: 11; }
custom-column[data-sm="12"] { --col-span: 12; }

/* Push (offset) for small screens */
custom-column[data-sm-push] {
  margin-left: calc(var(--w) * var(--col-push, 0) + var(--current-gap) * var(--col-push, 0));
}

custom-column[data-sm-push="1"] { --col-push: 1; }
custom-column[data-sm-push="2"] { --col-push: 2; }
custom-column[data-sm-push="3"] { --col-push: 3; }
custom-column[data-sm-push="4"] { --col-push: 4; }

/* Medium breakpoint - override sm styles */
@media (min-width: var(--breakpoint-md)) {
  /* Reset sm styles when md is specified */
  custom-column[data-md] {
    --w: calc((var(--container-inner-width) - var(--current-gap) * (var(--current-columns) - 1)) / var(--current-columns));
    width: calc(var(--w) * var(--col-span-md, var(--col-span, 1)) + var(--current-gap) * (var(--col-span-md, var(--col-span, 1)) - 1)) !important;
    max-width: calc(var(--w) * var(--col-span-md, var(--col-span, 1)) + var(--current-gap) * (var(--col-span-md, var(--col-span, 1)) - 1)) !important;
    margin-left: 0; /* Reset push from sm */
  }
  
  custom-column[data-md="1"] { --col-span-md: 1; }
  custom-column[data-md="2"] { --col-span-md: 2; }
  custom-column[data-md="3"] { --col-span-md: 3; }
  custom-column[data-md="4"] { --col-span-md: 4; }
  custom-column[data-md="5"] { --col-span-md: 5; }
  custom-column[data-md="6"] { --col-span-md: 6; }
  custom-column[data-md="7"] { --col-span-md: 7; }
  custom-column[data-md="8"] { --col-span-md: 8; }
  custom-column[data-md="9"] { --col-span-md: 9; }
  custom-column[data-md="10"] { --col-span-md: 10; }
  custom-column[data-md="11"] { --col-span-md: 11; }
  custom-column[data-md="12"] { --col-span-md: 12; }
  
  custom-column[data-md-push] {
    margin-left: calc(var(--w) * var(--col-push-md, 0) + var(--current-gap) * var(--col-push-md, 0)) !important;
  }
  
  custom-column[data-md-push="1"] { --col-push-md: 1; }
  custom-column[data-md-push="2"] { --col-push-md: 2; }
  custom-column[data-md-push="3"] { --col-push-md: 3; }
  custom-column[data-md-push="4"] { --col-push-md: 4; }
  custom-column[data-md-push="5"] { --col-push-md: 5; }
  custom-column[data-md-push="6"] { --col-push-md: 6; }
  custom-column[data-md-push="7"] { --col-push-md: 7; }
  custom-column[data-md-push="8"] { --col-push-md: 8; }
}

/* Large breakpoint - override md and sm styles */
@media (min-width: var(--breakpoint-lg)) {
  /* Reset md/sm styles when lg is specified */
  custom-column[data-lg] {
    --w: calc((var(--container-inner-width) - var(--current-gap) * (var(--current-columns) - 1)) / var(--current-columns));
    width: calc(var(--w) * var(--col-span-lg, var(--col-span-md, var(--col-span, 1))) + var(--current-gap) * (var(--col-span-lg, var(--col-span-md, var(--col-span, 1))) - 1)) !important;
    max-width: calc(var(--w) * var(--col-span-lg, var(--col-span-md, var(--col-span, 1))) + var(--current-gap) * (var(--col-span-lg, var(--col-span-md, var(--col-span, 1))) - 1)) !important;
    margin-left: 0; /* Reset push from sm/md */
  }
  
  custom-column[data-lg="1"] { --col-span-lg: 1; }
  custom-column[data-lg="2"] { --col-span-lg: 2; }
  custom-column[data-lg="3"] { --col-span-lg: 3; }
  custom-column[data-lg="4"] { --col-span-lg: 4; }
  custom-column[data-lg="5"] { --col-span-lg: 5; }
  custom-column[data-lg="6"] { --col-span-lg: 6; }
  custom-column[data-lg="7"] { --col-span-lg: 7; }
  custom-column[data-lg="8"] { --col-span-lg: 8; }
  custom-column[data-lg="9"] { --col-span-lg: 9; }
  custom-column[data-lg="10"] { --col-span-lg: 10; }
  custom-column[data-lg="11"] { --col-span-lg: 11; }
  custom-column[data-lg="12"] { --col-span-lg: 12; }
  
  custom-column[data-lg-push] {
    margin-left: calc(var(--w) * var(--col-push-lg, 0) + var(--current-gap) * var(--col-push-lg, 0));
  }
  
  custom-column[data-lg-push="1"] { --col-push-lg: 1; }
  custom-column[data-lg-push="2"] { --col-push-lg: 2; }
  custom-column[data-lg-push="3"] { --col-push-lg: 3; }
  custom-column[data-lg-push="4"] { --col-push-lg: 4; }
  custom-column[data-lg-push="5"] { --col-push-lg: 5; }
  custom-column[data-lg-push="6"] { --col-push-lg: 6; }
  custom-column[data-lg-push="7"] { --col-push-lg: 7; }
  custom-column[data-lg-push="8"] { --col-push-lg: 8; }
  custom-column[data-lg-push="9"] { --col-push-lg: 9; }
  custom-column[data-lg-push="10"] { --col-push-lg: 10; }
  custom-column[data-lg-push="11"] { --col-push-lg: 11; }
  custom-column[data-lg-push="12"] { --col-push-lg: 12; }
}
