custom-column {
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  min-width: 0;
}

/* Small breakpoint (default, up to md) */
custom-column[sm="1"] {
  --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
  width: calc(var(--w) * 1 + var(--grid-gutter) * (1 - 1));
}

custom-column[sm="2"] {
  --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
  width: calc(var(--w) * 2 + var(--grid-gutter) * (2 - 1));
}

custom-column[sm="3"] {
  --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
  width: calc(var(--w) * 3 + var(--grid-gutter) * (3 - 1));
}

custom-column[sm="4"] {
  --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
  width: calc(var(--w) * 4 + var(--grid-gutter) * (4 - 1));
}

custom-column[sm-push="1"] {
  --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
  margin-left: calc(var(--w) * 1 + var(--grid-gutter) * 1);
}

custom-column[sm-push="2"] {
  --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
  margin-left: calc(var(--w) * 2 + var(--grid-gutter) * 2);
}

custom-column[sm-push="3"] {
  --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
  margin-left: calc(var(--w) * 3 + var(--grid-gutter) * 3);
}

custom-column[sm-push="4"] {
  --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
  margin-left: calc(var(--w) * 4 + var(--grid-gutter) * 4);
}

/* Medium breakpoint (md to lg) */
@media (min-width: var(--breakpoint-md)) and (max-width: calc(var(--breakpoint-lg) - 1px)) {
  custom-column[md="1"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 1 + var(--grid-gutter) * (1 - 1));
  }

  custom-column[md="2"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 2 + var(--grid-gutter) * (2 - 1));
  }

  custom-column[md="3"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 3 + var(--grid-gutter) * (3 - 1));
  }

  custom-column[md="4"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 4 + var(--grid-gutter) * (4 - 1));
  }

  custom-column[md="5"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 5 + var(--grid-gutter) * (5 - 1));
  }

  custom-column[md="6"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 6 + var(--grid-gutter) * (6 - 1));
  }

  custom-column[md="7"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 7 + var(--grid-gutter) * (7 - 1));
  }

  custom-column[md="8"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 8 + var(--grid-gutter) * (8 - 1));
  }

  custom-column[md-push="1"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 1 + var(--grid-gutter) * 1);
  }

  custom-column[md-push="2"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 2 + var(--grid-gutter) * 2);
  }

  custom-column[md-push="3"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 3 + var(--grid-gutter) * 3);
  }

  custom-column[md-push="4"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 4 + var(--grid-gutter) * 4);
  }

  custom-column[md-push="5"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 5 + var(--grid-gutter) * 5);
  }

  custom-column[md-push="6"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 6 + var(--grid-gutter) * 6);
  }

  custom-column[md-push="7"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 7 + var(--grid-gutter) * 7);
  }

  custom-column[md-push="8"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 8 + var(--grid-gutter) * 8);
  }
}

/* Large breakpoint (lg and above) */
@media (min-width: var(--breakpoint-lg)) {
  custom-column[lg="1"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 1 + var(--grid-gutter) * (1 - 1));
  }

  custom-column[lg="2"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 2 + var(--grid-gutter) * (2 - 1));
  }

  custom-column[lg="3"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 3 + var(--grid-gutter) * (3 - 1));
  }

  custom-column[lg="4"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 4 + var(--grid-gutter) * (4 - 1));
  }

  custom-column[lg="5"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 5 + var(--grid-gutter) * (5 - 1));
  }

  custom-column[lg="6"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 6 + var(--grid-gutter) * (6 - 1));
  }

  custom-column[lg="7"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 7 + var(--grid-gutter) * (7 - 1));
  }

  custom-column[lg="8"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 8 + var(--grid-gutter) * (8 - 1));
  }

  custom-column[lg="9"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 9 + var(--grid-gutter) * (9 - 1));
  }

  custom-column[lg="10"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 10 + var(--grid-gutter) * (10 - 1));
  }

  custom-column[lg="11"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 11 + var(--grid-gutter) * (11 - 1));
  }

  custom-column[lg="12"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    width: calc(var(--w) * 12 + var(--grid-gutter) * (12 - 1));
  }

  custom-column[lg-push="1"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 1 + var(--grid-gutter) * 1);
  }

  custom-column[lg-push="2"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 2 + var(--grid-gutter) * 2);
  }

  custom-column[lg-push="3"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 3 + var(--grid-gutter) * 3);
  }

  custom-column[lg-push="4"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 4 + var(--grid-gutter) * 4);
  }

  custom-column[lg-push="5"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 5 + var(--grid-gutter) * 5);
  }

  custom-column[lg-push="6"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 6 + var(--grid-gutter) * 6);
  }

  custom-column[lg-push="7"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 7 + var(--grid-gutter) * 7);
  }

  custom-column[lg-push="8"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 8 + var(--grid-gutter) * 8);
  }

  custom-column[lg-push="9"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 9 + var(--grid-gutter) * 9);
  }

  custom-column[lg-push="10"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 10 + var(--grid-gutter) * 10);
  }

  custom-column[lg-push="11"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 11 + var(--grid-gutter) * 11);
  }

  custom-column[lg-push="12"] {
    --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
    margin-left: calc(var(--w) * 12 + var(--grid-gutter) * 12);
  }
}
