<div class="transition__wrap js-transition-wrap" transition:persist aria-hidden="true">
  <div class="transition__panel js-transition-panel">
    <div class="transition__panel-top js-transition-panel-top">
      <div class="transition__circle js-transition-circle"></div>
    </div>
    <div class="transition__panel-bottom js-transition-panel-bottom">
      <div class="transition__circle js-transition-circle"></div>
    </div>
  </div>
</div>