/**
 * YourFontName Font Definition
 * Place font files in: /public/fonts/YourFontName/
 * 
 * File structure:
 * /public/fonts/YourFontName/
 *   - YourFontName-Regular.woff2
 *   - YourFontName-Regular.woff
 *   - YourFontName-Bold.woff2
 *   - YourFontName-Bold.woff
 *   - YourFontName-Light.woff2
 *   - YourFontName-Light.woff
 */

@font-face {
  font-family: 'YourFontName';
  src: url('/fonts/YourFontName/YourFontName-Regular.woff2') format('woff2'),
       url('/fonts/YourFontName/YourFontName-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YourFontName';
  src: url('/fonts/YourFontName/YourFontName-Bold.woff2') format('woff2'),
       url('/fonts/YourFontName/YourFontName-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YourFontName';
  src: url('/fonts/YourFontName/YourFontName-Light.woff2') format('woff2'),
       url('/fonts/YourFontName/YourFontName-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
