---
import { ClientRouter } from 'astro:transitions';

//CSS Styles
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Site</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import '../scripts/lenis.js';
</script>