---
import ComponentsFields from '../../helpers/interfaces/ComponentsFields.astro';

interface Props {
  content: any;
  items: any[];
  description?: string;
  locale?: string;
}

const { content, items, description, locale } = Astro.props;

---

<div class="archive-articles">
  <ComponentsFields content={content} />
</div>