.custom-container {
  max-width: 100%;
  width: calc(100% + var(--container-padding-sm) * 2);
  padding-inline: var(--container-padding-sm);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--grid-gap-sm);
  
  /* CSS Variables */
  --container-padding: var(--container-padding-sm);
  --grid-gutter: var(--grid-gap-sm);
  --total-columns: var(--grid-columns-sm);
}

@media (min-width: var(--breakpoint-md)) {
  .custom-container {
    width: calc(100% + var(--container-padding-md) * 2);
    padding-inline: var(--container-padding-md);
    column-gap: var(--grid-gap-md);
    --container-padding: var(--container-padding-md);
    --grid-gutter: var(--grid-gap-md);
    --total-columns: var(--grid-columns-md);
  }
}

@media (min-width: var(--breakpoint-lg)) {
  .custom-container {
    max-width: var(--container-max-width);
    width: calc(100% + var(--container-padding-lg) * 2);
    padding-inline: var(--container-padding-lg);
    column-gap: var(--grid-gap-lg);
    --container-padding: var(--container-padding-lg);
    --grid-gutter: var(--grid-gap-lg);
    --total-columns: var(--grid-columns-lg);
  }
}
