custom-container {
  max-width: 100%;
  width: calc(var(--container-max-width) + var(--container-padding) * 2);
  padding-inline: var(--container-padding);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--grid-gutter);
  box-sizing: border-box;
}

custom-container[data-full="true"] {
  width: 100%;
}
