---
import './CustomContainer.css';
import './CustomContainer.js';

interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class={`custom-container ${className}`}>
  <slot />
</div>
