/**
 * Grid System - Generated CSS
 * Similar to ps-container/ps-column pattern
 * All column combinations are pre-generated for performance
 */

/* Container */
.custom-container {
  max-width: 100%;
  width: calc(var(--container-max-width) + var(--container-padding) * 2);
  padding-inline: var(--container-padding);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--grid-gutter);
}

.custom-container[full] {
  width: 100%;
}

/* Column width calculation mixin (applied via CSS variables) */
.custom-column {
  --w: calc((var(--container-inner-width) - var(--grid-gutter) * (var(--total-columns) - 1)) / var(--total-columns));
}

/* Small screen columns (1-4) */
@media (max-width: calc(var(--breakpoint-md) - 1px)) {
  .custom-column[sm="1"] {
    width: calc(var(--w) * 1 + var(--grid-gutter) * 0);
  }
  .custom-column[sm="2"] {
    width: calc(var(--w) * 2 + var(--grid-gutter) * 1);
  }
  .custom-column[sm="3"] {
    width: calc(var(--w) * 3 + var(--grid-gutter) * 2);
  }
  .custom-column[sm="4"] {
    width: calc(var(--w) * 4 + var(--grid-gutter) * 3);
  }
  
  .custom-column[sm-push="1"] {
    margin-left: calc(var(--w) * 1 + var(--grid-gutter) * 1);
  }
  .custom-column[sm-push="2"] {
    margin-left: calc(var(--w) * 2 + var(--grid-gutter) * 2);
  }
  .custom-column[sm-push="3"] {
    margin-left: calc(var(--w) * 3 + var(--grid-gutter) * 3);
  }
  .custom-column[sm-push="4"] {
    margin-left: calc(var(--w) * 4 + var(--grid-gutter) * 4);
  }
}

/* Medium screen columns (1-8) */
@media (min-width: var(--breakpoint-md)) and (max-width: calc(var(--breakpoint-lg) - 1px)) {
  .custom-column[md="1"] {
    width: calc(var(--w) * 1 + var(--grid-gutter) * 0);
  }
  .custom-column[md="2"] {
    width: calc(var(--w) * 2 + var(--grid-gutter) * 1);
  }
  .custom-column[md="3"] {
    width: calc(var(--w) * 3 + var(--grid-gutter) * 2);
  }
  .custom-column[md="4"] {
    width: calc(var(--w) * 4 + var(--grid-gutter) * 3);
  }
  .custom-column[md="5"] {
    width: calc(var(--w) * 5 + var(--grid-gutter) * 4);
  }
  .custom-column[md="6"] {
    width: calc(var(--w) * 6 + var(--grid-gutter) * 5);
  }
  .custom-column[md="7"] {
    width: calc(var(--w) * 7 + var(--grid-gutter) * 6);
  }
  .custom-column[md="8"] {
    width: calc(var(--w) * 8 + var(--grid-gutter) * 7);
  }
  
  .custom-column[md-push="1"] {
    margin-left: calc(var(--w) * 1 + var(--grid-gutter) * 1);
  }
  .custom-column[md-push="2"] {
    margin-left: calc(var(--w) * 2 + var(--grid-gutter) * 2);
  }
  .custom-column[md-push="3"] {
    margin-left: calc(var(--w) * 3 + var(--grid-gutter) * 3);
  }
  .custom-column[md-push="4"] {
    margin-left: calc(var(--w) * 4 + var(--grid-gutter) * 4);
  }
  .custom-column[md-push="5"] {
    margin-left: calc(var(--w) * 5 + var(--grid-gutter) * 5);
  }
  .custom-column[md-push="6"] {
    margin-left: calc(var(--w) * 6 + var(--grid-gutter) * 6);
  }
  .custom-column[md-push="7"] {
    margin-left: calc(var(--w) * 7 + var(--grid-gutter) * 7);
  }
  .custom-column[md-push="8"] {
    margin-left: calc(var(--w) * 8 + var(--grid-gutter) * 8);
  }
}

/* Large screen columns (1-12) */
@media (min-width: var(--breakpoint-lg)) {
  .custom-column[lg="1"] {
    width: calc(var(--w) * 1 + var(--grid-gutter) * 0);
  }
  .custom-column[lg="2"] {
    width: calc(var(--w) * 2 + var(--grid-gutter) * 1);
  }
  .custom-column[lg="3"] {
    width: calc(var(--w) * 3 + var(--grid-gutter) * 2);
  }
  .custom-column[lg="4"] {
    width: calc(var(--w) * 4 + var(--grid-gutter) * 3);
  }
  .custom-column[lg="5"] {
    width: calc(var(--w) * 5 + var(--grid-gutter) * 4);
  }
  .custom-column[lg="6"] {
    width: calc(var(--w) * 6 + var(--grid-gutter) * 5);
  }
  .custom-column[lg="7"] {
    width: calc(var(--w) * 7 + var(--grid-gutter) * 6);
  }
  .custom-column[lg="8"] {
    width: calc(var(--w) * 8 + var(--grid-gutter) * 7);
  }
  .custom-column[lg="9"] {
    width: calc(var(--w) * 9 + var(--grid-gutter) * 8);
  }
  .custom-column[lg="10"] {
    width: calc(var(--w) * 10 + var(--grid-gutter) * 9);
  }
  .custom-column[lg="11"] {
    width: calc(var(--w) * 11 + var(--grid-gutter) * 10);
  }
  .custom-column[lg="12"] {
    width: calc(var(--w) * 12 + var(--grid-gutter) * 11);
  }
  
  .custom-column[lg-push="1"] {
    margin-left: calc(var(--w) * 1 + var(--grid-gutter) * 1);
  }
  .custom-column[lg-push="2"] {
    margin-left: calc(var(--w) * 2 + var(--grid-gutter) * 2);
  }
  .custom-column[lg-push="3"] {
    margin-left: calc(var(--w) * 3 + var(--grid-gutter) * 3);
  }
  .custom-column[lg-push="4"] {
    margin-left: calc(var(--w) * 4 + var(--grid-gutter) * 4);
  }
  .custom-column[lg-push="5"] {
    margin-left: calc(var(--w) * 5 + var(--grid-gutter) * 5);
  }
  .custom-column[lg-push="6"] {
    margin-left: calc(var(--w) * 6 + var(--grid-gutter) * 6);
  }
  .custom-column[lg-push="7"] {
    margin-left: calc(var(--w) * 7 + var(--grid-gutter) * 7);
  }
  .custom-column[lg-push="8"] {
    margin-left: calc(var(--w) * 8 + var(--grid-gutter) * 8);
  }
  .custom-column[lg-push="9"] {
    margin-left: calc(var(--w) * 9 + var(--grid-gutter) * 9);
  }
  .custom-column[lg-push="10"] {
    margin-left: calc(var(--w) * 10 + var(--grid-gutter) * 10);
  }
  .custom-column[lg-push="11"] {
    margin-left: calc(var(--w) * 11 + var(--grid-gutter) * 11);
  }
  .custom-column[lg-push="12"] {
    margin-left: calc(var(--w) * 12 + var(--grid-gutter) * 12);
  }
}
